h1 {
    text-align: center;
}

body {
    background: coral;
    margin: 10px;
}

.image1 {
    text-align: center;
}

.Boals {
    background: #898f48;
}

.achiv > ul > span {
    background: #1cd2c3;
    font-weight: bold;
}
